*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  padding: 5rem; }

body {
  font-size: 93.5%;
  font-family: 'Spartan', sans-serif; }

.u-margin-bottom-small {
  margin-bottom: 1.2rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-2-of-3 {
    width: calc(2* ((100% - 2*6rem) / 3) + 6rem); }
  .row .col-1-of-3 {
    width: calc((100% - 2*6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3*6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2* ((100% - 3*6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3* ((100% - 3*6rem) / 4) + 2*6rem); }

body {
  background-color: rgba(147, 123, 146, 0.85); }

.main-container {
  height: 40rem;
  padding: 5rem;
  position: relative;
  width: 80rem;
  height: 50rem;
  box-shadow: 12px 10px 5px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 1rem; }
  .main-container .pattern-top {
    position: absolute;
    left: 0;
    top: 0; }
  .main-container .pattern-bottom {
    position: absolute;
    width: 100%;
    height: 82%;
    right: 0;
    top: 17.5%; }
  .main-container .heading-primary {
    color: #502050;
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 2.5rem;
    width: 25rem; }
  .main-container .heading-secondary {
    color: #937b92;
    font-weight: 500;
    font-size: 1rem;
    width: 29rem; }
  .main-container .star-rating {
    position: absolute;
    padding: .5rem;
    width: 20rem; }
    .main-container .star-rating :not(:last-child) {
      margin-bottom: 1.5rem; }
    .main-container .star-rating--1 {
      border-radius: .35rem;
      width: 25rem;
      padding: 1rem;
      font-weight: 700;
      font-size: .8rem;
      background-color: #f7f2f7; }
      .main-container .star-rating--1 .stars-1 {
        margin-bottom: 0;
        display: inline-block;
        margin-left: .35rem; }
      .main-container .star-rating--1 p {
        text-align: center;
        display: inline-block;
        color: #502050;
        margin-left: 1.5rem; }
    .main-container .star-rating--2 {
      position: relative;
      top: 0;
      left: 15%;
      border-radius: .35rem;
      width: 25rem;
      padding: 1rem;
      font-weight: 700;
      font-size: .8rem;
      background-color: #f7f2f7; }
      .main-container .star-rating--2 .stars-2 {
        margin-bottom: 0;
        display: inline-block;
        margin-left: .35rem; }
      .main-container .star-rating--2 p {
        text-align: center;
        display: inline-block;
        color: #502050;
        margin-left: 1.5rem; }
    .main-container .star-rating--3 {
      position: relative;
      top: 0;
      left: 30%;
      border-radius: .35rem;
      width: 25rem;
      padding: 1rem;
      font-weight: 700;
      font-size: .8rem;
      background-color: #f7f2f7; }
      .main-container .star-rating--3 .stars-3 {
        margin-bottom: 0;
        display: inline-block;
        margin-left: .35rem; }
      .main-container .star-rating--3 p {
        text-align: center;
        display: inline-block;
        color: #502050;
        margin-left: 1.5rem; }
  .main-container .section-comments {
    position: relative;
    padding: 2rem; }
    .main-container .section-comments .card {
      position: absolute;
      background-color: #502050;
      border: black solid .05rem;
      padding: 2rem;
      width: 32%;
      height: 17rem;
      border-radius: 1rem; }
      .main-container .section-comments .card .card__content {
        position: relative;
        font-size: .8rem;
        line-height: 1.3rem; }
        .main-container .section-comments .card .card__content--header .commentor-portrait {
          border-radius: 50%;
          display: inline-block; }
        .main-container .section-comments .card .card__content--header .heading-text {
          display: inline-block;
          position: absolute;
          left: 30%;
          top: 15%; }
          .main-container .section-comments .card .card__content--header .heading-text .primary {
            color: white; }
          .main-container .section-comments .card .card__content--header .heading-text .secondary {
            color: rgba(238, 104, 164, 0.7); }
        .main-container .section-comments .card .card__content--footer {
          line-height: 1.5rem;
          color: #f7f2f7; }
    .main-container .section-comments .first-position {
      top: 0;
      left: 0; }
    .main-container .section-comments .second-position {
      top: 30%;
      left: 35%; }
    .main-container .section-comments .third-position {
      top: 70%;
      left: 70%; }
